.back-button {
  position: fixed;
  bottom: 25px;
  left: 25px;
  background: none;
  color: #000;
  border: 1.5px solid #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: #000;
  color: #fff;
}
.next-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: none;
    color: #000;
    border: 1.5px solid #000;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.next-button:hover {
    background-color: #000;
    color: #fff;
}
