.contact-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
    padding: 0 100px;
}

.contact-left h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    margin-bottom: 50px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 35px;
}

.contact-item img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.contact-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  
}
.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.2s ease;
}
.contact-info a:hover,
.contact-info a:active {
  color: #ffcc00; 
}
.contact-right img {
    width: 400px;
    height: 400px;
    margin-top: -50px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0px 15px 40px rgba(0, 0, 0, 0.35));
}
.copyright {
  text-align: center;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.back-button {
  position: fixed;
  bottom: 25px;
  left: 25px;
  background: none;
  color: #000;
  border: 1.5px solid #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: #000;
  color: #fff;
}