.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.photo img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
}

.text {
    max-width: 600px;
    text-align: center;
}

.text h1 {
    font-size: 42px;
    font-weight: 800;
    margin: 0;
}
.role {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.desc {
    line-height: 1.7;
    font-size: 16px;
}
.next-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: none;
    color: #000;
    border: 1.5px solid #000;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.next-button:hover {
    background-color: #000;
    color: #fff;
}