.project-section {
    text-align: center;
    flex: 1;
    margin-top: 30px;
}

.project-section h1 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: -20px;
    letter-spacing: 2px;
}

/* Gallery Layout */
.project-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
}

.project-item {
    position: relative; 
    width: 250px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.project-item a {
    text-decoration: none;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.project-item:hover img {
    transform: translateY(-10px);
    filter: brightness(0.7);
}
.project-item:hover .overlay {
    opacity: 1; 
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.overlay p {
    color: white;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 2px;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.6);
}

