.tools-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tools-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 60px;
  width: 80%;
  height: 70%; 
  position: relative;
}

.divider {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateY(-50%);
  width: 2px;
  height: 90%;
  background-color: #000;
  border-radius: 2px;
}
/* Left */
.tools-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
}

.tools-left h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.tool-icons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 30px;
  max-width: 400px; 
}

.tool-icons img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-icons img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* Right */
.tools-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools-right h1 {
  font-size: 1.8rem;
  margin-bottom: 5px; 
   margin-left: 100px;
  line-height: 1.2;  
}

.tools-right p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 5px;
}

.tools-right ol {
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.8;
}
