/* Work Section */
.work-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bungkus dua gambar agar sejajar */
.work-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-image img {
    width: 300px;
    height: auto;
    transition: transform 0.6s ease-in-out;
}

.work-image img:hover {
    transform: scale(1.08) translateY(-6px);
}
/* Buat teks di tengah antara dua HP */
.work-content {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-content h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.work-content h2 {
    font-size: 1.8rem;
    margin-top: 15px;
}

.work-content p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    text-decoration: none;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #ffcc00;
    color: #000;
}

