body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
}

h1 {
    text-align: center;
    color: #000000;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    background: white;
}

th {
    background: #0d6efd;
    color: white;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
